@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
  background-color: black;
  color: white;
  font-family: "Audiowide", sans-serif;
}

.logo {
  /* border: 1px solid white; */
  /* margin: 1rem; */
  padding: 1rem 1rem;
  text-align: center;
  font-size: 120px;
  align-items: flex-end;
}

.logo-item {
  display: inline-block;
  /* border: 1px solid red; */
  padding: 1rem 1rem;
  vertical-align: middle;
}

.logo-dot {
  height: 110px;
}

.logo-i {
  width: 78px;
  height: 148px;
  font-size: 62px;
  font-weight: 800;
  align-items: center;
  justify-content: center;
}

.aim-dot {
  height: 80px;
  width: 80px;
  transition: all .2s ease-in-out;
}

.aim-dot path:nth-of-type(1) {
  fill: red !important;
  stroke: red;
}

.aim-dot path:nth-of-type(2) {
  fill: red !important;
  stroke: red;
}

.aim-dot path:nth-of-type(3) {
  fill: red !important;
  stroke: red;
}

.aim-dot:hover {
  transform: scale(1.2)
}

@media (prefers-reduced-motion: no-preference) {
  .aim-dot {
    animation: aim-dot-spin infinite 10s linear;
  }
}

@keyframes aim-dot-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.selection-view {
  display: none;
  /* border: 1px solid white; */
  flex-direction: column;
  align-items: center;
}

.selection-header {
  text-align: center;
  font-size: 70px;
  /* border: 1px solid red; */
  margin: 1rem;
  padding: 2rem 2rem;
}

.picture-container {
  display: flex;
  /* border: 1px solid white; */
  align-items: center;
}

.selection-picture {
  display: inline-block;
  /* border: 1px solid green; */
  height: 100px;
  width: 100px;
  padding-inline: 30px;
  transition: all .35s ease-in-out;
}

.selection-picture:hover {
  transform: scale(1.4);
}

.lock-on {
  color: red;
  transition: all .15s ease-in-out;
  padding: 4rem;
  font-size: 25px;
}

.lock-on:hover {
  transform: scale(1.1);
}

.action-view {
  display: none;
  /* border: 1px solid white; */
  align-items: center;
  flex-direction: column;
}

.selected-target {
  display: inline-block;
  /* border: 1px solid green; */
  /* height: 100px; */
  width: 200px;
}

.finding-target {
  font-size: 40px;
  color: red;
}

.action-container {
  display: none;
  /* border: 1px solid red; */
  width: 80%;
  align-items: center;
  justify-content: space-between;
  padding-inline: 15px;
}

.attack-button {
  font-family: "Audiowide", sans-serif;
}

.follow-button {
  font-family: "Audiowide", sans-serif;
}

.live-view {
  display: none;
}